* {
  margin: 0px;
  padding: 0px;
}

.main {
  background-color: #c0c0c0;
  margin: 14px;
  position: absolute;
}

.header {
  background-color: green;
  display: block;
  height: 113px;
  margin: 15px;
  width: 712px;
}

.sidebar {
  background-color: blue;
  display: inline-block;
  height: 227px;
  width: 152px;
  vertical-align: top;
  margin: 0px 18px 0px 15px;
}

.content {
  background-color: red;
  display: inline-block;
  height: 317px;
  width: 542px;
  margin: 0px 15px 15px 0px;
}

.top-box {
  border: none;
  margin: 12px 10px 12px 0px;
  display: inline-block;
  background-color: yellow;
  width: 158px;
  height: 150px;
  position: relative;
}

.top-box:first-of-type {
  margin-left: 12px;
}

.footer-box {
  display: block;
  background-color: purple;
  height: 90px;
  margin: 22px 35px 43px 12px;
}
